@use "@angular/material" as mat;

@tailwind base;
@tailwind components;
@tailwind utilities;

$customTheme: mat.define-theme();

@include mat.core();

.custom-theme {
  @include mat.all-component-themes($customTheme);

  // override the button styles
  .mdc-button,
  .mdc-raised-button,
  .mdc-stroked-button,
  .mdc-flat-button {
    @apply rounded-md bg-white;
  }

  .text-primary {
    color: #7d00fa;
  }

  button.match-input-height {
    height: var(--mat-form-field-container-height);
  }

  .mdc-notched-outline__notch {
    border-right-style: none;
  }

  // Global mat-progress-bar color overrides
  mat-progress-bar {
    --mdc-linear-progress-active-indicator-color: #007bff;
  }

  .mat-mdc-snack-bar-container.snack-error {
    --mdc-snackbar-container-color: red;
    --mat-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #fff;
  }

  .mat-mdc-snack-bar-container.snack-success {
    --mdc-snackbar-container-color: green;
    --mat-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #fff;
  }

  .mat-mdc-snack-bar-action {
    background-color: inherit;
  }

  .mdc-text-field:not(.mdc-text-field--invalid):not(
      .mdc-text-field--focused
    ):not(.mdc-text-field--disabled):hover {
    .mdc-notched-outline > * {
      border-color: white; /* Change to red on hover */
    }
  }

  /* Chrome, Safari, Edge, Opera */
  // input::-webkit-outer-spin-button,
  // input::-webkit-inner-spin-button {
  //   -webkit-appearance: none;
  //   margin: 0;
  // }

  // /* Firefox */
  // input[type="number"] {
  //   -moz-appearance: textfield;
  // }
}
