<div
  class="modal modal-sheet d-block p-4 py-md-5"
  tabindex="-1"
  role="dialog"
  id="modalSignin"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content rounded-4 shadow">
      <button
        type="button"
        class="btn-close mt-2 me-2"
        style="position: absolute; right: 0"
        aria-label="Close"
        mat-dialog-close
      ></button>
      <div
        class="modal-header p-5 pb-4 border-bottom-0 d-flex justify-content-between align-items-center"
      >
        <h1 class="fw-bold mb-0 fs-4">
          {{ isRegistering ? "Create your account" : "Sign in" }}
        </h1>

        <div>
          <button type="button" class="btn btn-outline-primary mb-0" (click)="toggleForm()">
            {{ isRegistering ? "Sign in" : "Register" }}
          </button>
        </div>
      </div>

      <div class="modal-body p-5 pt-0">
        <form
          #loginForm="ngForm"
          (ngSubmit)="isRegistering ? register() : login()"
          autocomplete="off"
        >
          <div class="form-floating mb-3">
            <input
              name="username"
              [(ngModel)]="model.username"
              type="text"
              class="form-control rounded-3"
              id="floatingInput"
              placeholder="Username"
            />
            <label for="floatingInput">Username</label>
          </div>
          <div class="form-floating mb-3">
            <input
              name="password"
              [(ngModel)]="model.password"
              type="password"
              class="form-control rounded-3"
              id="floatingPassword"
              placeholder="Password"
            />
            <label for="floatingPassword">Password</label>
          </div>
          <button
            class="w-100 mb-2 btn btn-lg rounded-3 btn-primary"
            type="submit"
          >
            {{ isRegistering ? "Register" : "Sign in" }}
          </button>
          <hr class="my-4" />
          <h2 class="fs-5 fw-bold mb-3">Or use a third-party</h2>
          <button
            class="w-100 py-2 mb-2 btn btn-outline-secondary rounded-3"
            type="submit"
          >
            Continue with Google
          </button>
          <button
            class="w-100 py-2 mb-2 btn btn-outline-primary rounded-3"
            type="submit"
          >
            Continue with Facebook
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
