<mat-card class="max-w-lg mx-auto p-8 bg-white">
  <div class="flex justify-between mb-6">
    <h1 class="text-3xl font-semibold text-primary">
      {{ isLoginMode ? "Sign in" : "Register" }}
    </h1>
    <button mat-stroked-button (click)="toggleMode()">
      {{ !isLoginMode ? "Sign in" : "Register" }}
    </button>
  </div>
  <form *ngIf="isLoginMode" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <app-text-input
      label="Email Address"
      type="email"
      formControlName="email"
    />
    <app-text-input
      label="Password"
      type="password"
      formControlName="password"
    />

    <div *ngIf="validationErrors" class="mb-5 p-4 bg-red-100 text-red-600">
      <ul class="list-disc px-3">
        @for (error of validationErrors; track $index) {
        <li>{{ error }}</li>
        }
      </ul>
    </div>

    <button
      [disabled]="loginForm.invalid"
      mat-flat-button
      type="submit"
      class="w-full py-2"
    >
      Sign in
    </button>
  </form>
  <form *ngIf="!isLoginMode" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <app-text-input
      label="First name"
      type="text"
      formControlName="firstName"
    />
    <app-text-input label="Last name" type="text" formControlName="lastName" />
    <app-text-input
      label="Email Address"
      type="email"
      formControlName="email"
    />
    <app-text-input
      label="Password"
      type="password"
      formControlName="password"
    />
    <app-text-input
      label="Confirm Password"
      type="password"
      formControlName="confirmPassword"
    />

    <div *ngIf="validationErrors" class="mb-5 p-4 bg-red-100 text-red-600">
      <ul class="list-disc px-3">
        @for (error of validationErrors; track $index) {
        <li>{{ error }}</li>
        }
      </ul>
    </div>

    <button
      [disabled]="registerForm.invalid"
      mat-flat-button
      type="submit"
      class="w-full py-2"
    >
      Register
    </button>
  </form>
</mat-card>
