<header class="p-3 w-full max-h-20 fixed top-0 z-50 text-white">
  <div class="max-w-screen-2xl mx-auto transition-all duration-300 "
    [ngClass]="{'bg-dark py-1 px-12 shadow-lg rounded-full': isScrolled}">
    <nav class="flex items-center justify-between gap-6 my-1 uppercase">
      <!-- Logo / Home Link -->
      <a class="text-3xl" routerLink="/">Poem</a>

      <!-- Navigation Links -->
      <div class="flex gap-6 uppercase text-xl">
        <a routerLink="/shop" routerLinkActive="active">Artworks</a>
        <a routerLinkActive="active">Favorites</a>
        <a routerLink="/test-error" routerLinkActive="active">Errors</a>
        <a *appIsAdmin routerLink="/admin" routerLinkActive="active">Admin</a>
      </div>

      <!-- Cart & User Controls -->
      <div class="flex gap-3 items-center">
        <a matBadge="{{ cartService.itemCount() }}" routerLink="/cart" matBadgeSize="medium"
          class="custom-badge mt-2 mr-2">
          <mat-icon>shopping_cart</mat-icon>
        </a>
        @if (accountService.currentUser()) {
        <button mat-button [matMenuTriggerFor]="menu">
          <mat-icon>arrow_drop_down</mat-icon>
          <span>{{ accountService.currentUser()?.email }}</span>
        </button>
        } @else {
        <button mat-stroked-button class="custom-button" (click)="openLoginModal()">
          Sign in
        </button>
        }
      </div>
    </nav>
  </div>
</header>

@if (busyService.loading) {
<mat-progress-bar mode="indeterminate" value="40" class="fixed top-0 z-50"></mat-progress-bar>
}

<mat-menu #menu="matMenu" class="px-5">
  <button mat-menu-item class="px-3" routerLink="/cart">
    <mat-icon>shopping_cart</mat-icon>
    My cart
  </button>
  <button mat-menu-item class="px-3" routerLink="/orders">
    <mat-icon>history</mat-icon>
    My orders
  </button>
  <mat-divider></mat-divider>
  <button mat-menu-item class="px-3" (click)="logout()">
    <mat-icon>logout</mat-icon>
    Logout
  </button>
</mat-menu>